{% extends 'base.html' %}
{% load static %}

{% block title %}Booking Confirmation{% endblock %}

{% block content %}
    <div class="confirmation-container">
        {% if error_message %}
            <h2>Not Available</h2>
            <p class="error">{{ error_message }}</p>
        {% else %}
            <h2>Booking Confirmed!</h2>
            <p>{{ confirmation_message }}</p>
            <p>Selected Booking Date: {{ booking_date }}</p>
            <p>Number of Guests: {{ num_guests }}</p>
            
            <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
            <script src="{% static 'js/alert.js' %}"></script>

            <!--  Toastify CSS -->
            <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

            <!--  Toastify JS library -->
            <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

           
            <script src="{% static 'js/toastify.js' %}"></script>
        {% endif %}

        <a href="{% url 'apartment_list' %}" class="home-button">Home</a>
    </div>
{% endblock %}
