{% extends 'base.html' %}
{% load static %}

{% block title %}Booking Confirmation{% endblock %}

{% block content %}
    <div class="confirmation-container">
        {% if error_message %}
            <h2>Not Available</h2>
            <p class="error">{{ error_message }}</p>
        {% else %}
            <h2>Booking Confirmed!</h2>
            <p>{{ confirmation_message }}</p>
            <p>Selected Booking Date: {{ booking_date }}</p>
            <p>Number of Guests: {{ num_guests }}</p>
            
            <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
            <script src="{% static 'js/alert.js' %}"></script>

            <!-- Include Toastify CSS and JS -->
            <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
            <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

            <!-- Include Summernote CSS and JS -->
            <link rel="stylesheet" href="{% static 'js/summernote-bs4.css' %}">
            <script src="{% static 'js/summernote-bs4.min.js' %}"></script>

            <!-- Include your custom JavaScript files -->
            <script src="{% static 'js/toastify.js' %}"></script>
            <script src="{% static 'js/wysiwyg-editor.js' %}"></script>
        {% endif %}

        <textarea id="review" name="review"></textarea>
        <button onclick="showToast()">any message</button>

        <a href="{% url 'apartment_list' %}" class="home-button">Home</a>
    </div>
{% endblock %}
